dataset_path: data/evaluation/scanrefer
dataset_kwargs:
  token: True
task: "scanrefer"
test_split: val
output_type: generate_until
doc_to_visual: !function utils.scanrefer_doc_to_visual
doc_to_text: !function utils.scanrefer_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  max_new_tokens: 100
  temperature: 0
  top_p: 1.0
  num_beams: 1
  do_sample: false
# The return value of process_results will be used by metrics
process_results: !function utils.scanrefer_process_results
# Note that the metric name can be either a registed metric function (such as the case for GQA) or a key name returned by process_results
metric_list:
  - metric: scanrefer_score
    aggregation: !function utils.scanrefer_aggregate_results
    higher_is_better: true
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
metadata:
  media_dir: data/media
  version: 0.0
